<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Edit Staff</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Edit Data Staff</h1>			
			<form action="{{ url_for('edtstaff') }}" method="post" autocomplete="off">
				<label for="idstaff">
					<i class="fas fa-id-card"></i>
				</label>
				<input type="text" name="idstaff" placeholder="ID Staff" id="idstaff" value="{{ id_staff }}" class="read-only" readonly>

				<label for="nmstaff">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="nmstaff" placeholder="Nama Staff" id="nmstaff" value="{{ nama_staff }}" required>

				<label for="tlpstaff">
					<i class="fas fa-phone"></i>
				</label>				
				<input type="text" name="tlpstaff" placeholder="No. Telp" id="tlpstaff" value="{{ no_telp_staff }}" required>

				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>				
				<input type="email" name="email" placeholder="Email" id="email" value="{{ email_staff }}" required>				
				<label for="shift">
					<i class="fas fa-list"></i>
				</label>				
				<input type="text" name="shift" placeholder="Shift" id="shift" value="{{ shift_kerja }}" list="listshift" required>
				<datalist id="listshift">
					<option value="Shift 1">
					<option value="Shift 2">
					<option value="Shift 3">
				</datalist>				
				<div class="msg">{{ msg }}</div>

				<!--<input type="submit" value="Update">  	
				<input type="submit" value="Hapus">-->
				<form method="POST">
					<input type="hidden" name="action" value="Update">
					<!-- other form fields -->
					<button type="submit">Update</button>
				</form>
				
				<form method="POST">
					<input type="hidden" name="action" value="Hapus">
					<button type="submit">Delete</button>
				</form>
				
				<div class="links">
					<!--<a href="{{ url_for('browseanggota') }}">Browse Data</a>-->	
					<a href="{{ url_for('homestaff') }}">Keluar</a>					
				</div> 
			</form>		
			
		</div>
	</body>
</html>