<!DOCTYPE html>
<html>
	<head>		
		<meta charset="utf-8">
		<title>Lupa Password</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>	
	<body>
		<div class="register">
			<h1>Lupa Password Anggota</h1>			
			<form action="{{ url_for('lupa_password_anggota') }}" method="POST" autocomplete="off">
				<label for="pencarian">
					<i class="fas fa-id-card"></i>
				</label> 
				<input type="text" name="pencarian" placeholder="ID Anggota / No. Telp. / e-Mail" id="pencarian" required>
				<input type="submit" value="Mencari"> 

				<div class="blank_row"></div>
				
				<label for="idanggota">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="idanggota" placeholder="ID Anggota" id="idanggota" readonly>	

				<label for="nmanggota">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="nmanggota" placeholder="Nama Anggota" id="nmanggota" readonly>

				<label for="tlpanggota">
					<i class="fas fa-phone"></i>
				</label>				
				<input type="text" name="tlpanggota" placeholder="No. Telp" id="tlpanggota" readonly>

				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>				
				<input type="email" name="email" placeholder="Email" id="email" readonly>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password Baru" id="password" readonly>	
				<label for="passwordbr">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="passwordbr" placeholder="Password Baru Sekali Lagi" id="passwordbr" readonly>										
				<div class="msg">{{ msg }}</div>
				 					
				<div class="links">					
					<a href="{{ url_for('logout') }}">tutup</a>					
				</div> 
			</form>		
			
		</div>
	</body>
</html>