<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Pendaftaran Anggota</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Input Data Anggota</h1>			
			<form action="{{ url_for('registrasi') }}" method="post" autocomplete="off">
				<label for="idanggota">
					<i class="fas fa-id-card"></i>
				</label>
				<input type="text" name="idanggota" placeholder="ID Anggota" id="idanggota" value="{{ new_id_anggota }}" class="read-only" readonly>

				<label for="nmanggota">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="nmanggota" placeholder="Nama Anggota" id="nmanggota" required>

				<label for="tlpanggota">
					<i class="fas fa-phone"></i>
				</label>				
				<input type="text" name="tlpanggota" placeholder="No. Telp" id="tlpanggota" required>

				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>				
				<input type="email" name="email" placeholder="Email" id="email" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
								
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Mendaftar">  					
				<div class="links">					
					<a href="{{ url_for('login') }}">Keluar</a>					
				</div> 
			</form>		
			
		</div>
	</body>
</html>